<!-- begin #featuredProjects -->
  <div id="featuredProjects">
    <h1>~ Our Featured Projects ~</h1>
    <ul>
      <li>
        <div class="imgBox">
          <a href="/projects/backstage.html"><img src="images/screenshots/index-backstage.jpg" alt="Backstage" /></a>
        </div>
        <div class="title"><a href="/projects/backstage.html"><strong>&raquo;</strong> Backstage</a></div>
      </li>
      <li>
        <div class="imgBox">
          <a href="/projects/siteadmin.html"><img src="images/screenshots/index-siteadmin.jpg" alt="SiteAdmin" /></a>
        </div>
        <div class="title"><a href="/projects/siteadmin.html"><strong>&raquo;</strong> SiteAdmin</a></div>
      </li>
      <li>
        <div class="imgBox">
          <a href="/projects/synco.html"><img src="images/screenshots/index-synco.jpg" alt="Synco" /></a>
        </div>
        <div class="title"><a href="/projects/synco.html"><strong>&raquo;</strong> Synco</a></div>
      </li>

    </ul>
  </div>
  <!-- end #featuredProjects -->
