<!-- begin #featuredProjects -->
  <div id="featuredProjects">
    <h1>~ Our Featured Projects ~</h1>
    <ul>
      <li>
        <div class="imgBox">
          <a href="#"><img src="images/sample_thumb_small.jpg" alt="Theme title" /></a>
        </div>
        <div class="title"><a href="project_details.html"><strong>&raquo;</strong> Project Title</a></div>
      </li>
      <li>
        <div class="imgBox">
          <a href="#"><img src="images/sample_thumb_small.jpg" alt="Theme title" /></a>
        </div>
        <div class="title"><a href="project_details.html"><strong>&raquo;</strong> Project Title</a></div>
      </li>
      <li>
        <div class="imgBox">
          <a href="#"><img src="images/sample_thumb_small.jpg" alt="Theme title" /></a>
        </div>
        <div class="title"><a href="project_details.html"><strong>&raquo;</strong> Project Title</a></div>
      </li>

      <li>
        <div class="imgBox">
          <a href="#"><img src="images/sample_thumb_small.jpg" alt="Theme title" /></a>
        </div>
        <div class="title"><a href="project_details.html"><strong>&raquo;</strong> Project Title</a></div>
      </li>

    </ul>
  </div>
  <!-- end #featuredProjects -->
