<!-- begin #homeBoxes -->
<div id="homeBoxes">

  <div class="homeBox">
    <h2><a href="/projects/backstage.html">Backstage</a></h2>
    <p>Backstage is our customer account manager written entirely in Ruby on Rails. First released in February 2006, it has undergone numerous changes and updates as any good app does!</p>
    <p>The last major revision to Backstage was released in tandem with <a href="/projects/backstage.html">SiteAdmin</a> in mid-2011.</p>
    <a href="/projects/backstage.html" class="readmore">Read Full Details</a>
  </div>

  <div class="homeBox">
    <h2><a href="/projects/siteadmin.html">SiteAdmin</a></h2>
    <p>SiteAdmin is our custom cPanel theme developed exclusively for Site5 shared hosting customers. It's written in PHP and utilizes ajax extensively.</p>
    <p>SiteAdmin, formally known as NetAdmin, was originally released in 2000. Our revision released in mid-2011 brought it to version 2.0.</p>
    <a href="/projects/siteadmin.html" class="readmore">Read Full Details</a>
  </div>

  <div class="homeBox">
    <h2><a href="/projects/synco.html">Synco</a></h2>
    <p>Synco is our internal customer management system written entirely in Ruby on Rails. First released in February 2006, it too has seen many changes and improvements over the years.</p>
    <p>New features are not being added at this time as a complete rewrite is currently underway!</p>
    <a href="/projects/synco.html" class="readmore">Read Full Details</a>
  </div>

</div>				
<!-- end #homeBoxes -->
