<!-- begin #homeBoxes -->
<div id="homeBoxes">
  <div class="homeBox">
    <h2>Backstage</h2>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <a href="#" class="readmore">Read Full Details</a>
  </div>
  <div class="homeBox">
    <h2>SiteAdmin 2.0</h2>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <a href="#" class="readmore">Read Full Details</a>
  </div>
  <div class="homeBox">
    <h2>Synco</h2>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <p>Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit etconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
    <a href="#" class="readmore">Read Full Details</a>
  </div>
</div>				
<!-- end #homeBoxes -->
