	<h2>Our Featured Projects</h2>
	<ul id="projShortList">
	  <li><a href="/projects/backstage.html">Backstage</a><br /><span>Account manager used by all clients.</span></li>
	  <li><a href="/projects/siteadmin.html">SiteAdmin</a><br /><span>cPanel theme used by our shared hosting customers.</span></li>
	  <li><a href="/projects/lumberg.html">Lumberg</a><br /><span>Ruby library for the WHM & cPanel API.</span></li>
	  <li><a href="/projects/moomoo.html">MooMoo</a><br /><span>Ruby library for using the Tucows OpenSRS XML API.</span></li>
	</ul>
	<h2>Meet the Team</h2>
	Who are the crazies calling themselves the <a href="/team.html">Site5 Engineering Team</a>?
