	<h2>Our Featured Projects</h2>
	<ul id="projShortList">
	  <li><a href="#">project1</a><br /><span>A project for something.</span></li>
	  <li><a href="#">project21</a><br /><span>A project for something.</span></li>
	  <li><a href="#">project3</a><br /><span>A project for something.</span></li>
	  <li><a href="#">project4</a><br /><span>A project for something.</span></li>
	</ul>
	<h2>Meet the Team</h2>
	Who are the crazies calling themselves the <a href="/team.html">Site5 Engineering Team</a>?
