<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{page.title}}</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Century_Gothic_400-Century_Gothic_700.font.js"></script>
<script type="text/javascript">
		 Cufon.replace('h1', {textShadow: '#fff 1px 1px'})('h2',{textShadow: '#fff 1px 1px'})('h3')('#content h3', {textShadow: '#fff 1px 1px'})('#logo span',{textShadow: '#333 1px 1px'})('#topMenu ul li a',{hover:true});
</script>
</head>

<body id="{{page.home_css}}">
<!-- begin #mainWrapper -->
<div id="mainWrapper">
	<!-- begin #wrapper -->
	<div id="wrapper">
		<!-- begin #header -->
		<div id="header">
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="Home of Site5 Engineering Team" /> </a><br />
				<span>Home of Site5 Engineering Team </span>
			</div>
			<div id="topIcons">
				<a href="http://github.com/site5" class="github">GitHub</a>
				<a href="http://twitter.com/eng5com" class="twitter">Twitter</a>
			</div>
			<div id="topMenu">
				<ul>
					<li><a href="about.html">ABOUT</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<!-- begin #content-->
		<div id="content">
      {{ content }}
		</div>
		<!-- end #content -->
	</div>
	<!-- end #wrapper -->
	<div id="footer">
	<!-- BEGIN #innerFooter -->
				<div id="innerFooter">
					<div class="footer-links clearfix">
						<h3>Site Links</h3>
						<ul>
							<li><a href="http://www.site5.com/contact/">Contact Us</a></li>
							<li><a href="https://backstage.site5.com/">Client Login</a></li>
							<li><a href="http://www.site5.com/about/">About Site5</a></li>
							<li><a href="http://www.site5.com/affiliates/">Affiliate Program</a></li>
							<li><a href="http://www.site5.com/support/">Support</a></li>
							<li><a href="http://www.site5.com/specials">Site5 Coupons</a></li>
							<li><a href="http://www.site5.com/blog/">Our Blog</a></li>
							<li><a href="http://www.ratepoint.com/profile/15460">Site5 Reviews</a></li>
						</ul>
					</div>
					<div class="footer-services clearfix">
						<h3>Hosting Services</h3>
						<div>

							<span><a href="http://www.site5.com/hosting/">WEB HOSTING</a></span>
							<ul>
								<li><a href="http://www.site5.com/hosting/web/">Shared Hosting</a></li>
								<li><a href="http://www.site5.com/hosting/cloud/">Shared Cloud Hosting</a></li>
							</ul>
						</div>
						<div>

							<span><a href="http://www.site5.com/resellers/">RESELLER HOSTING</a></span>
							<ul>
								<li><a href="http://www.site5.com/resellers/web/">Reseller Hosting</a></li>
								<li><a href="http://www.site5.com/resellers/cloud/">Reseller Cloud Hosting</a></li>
							</ul>
						</div>
						<div>

							<span><a href="http://www.site5.com/vps/">VIRTUAL SERVERS</a></span>
							<ul>
								<li><a href="http://www.site5.com/vps/normal/">VPS</a></li>
								<li><a href="http://www.site5.com/cloud/vps/">Cloud VPS</a></li>
							</ul>
            </div>
					</div>

					 <div class="footer-copyright"> 
							<a href="http://www.site5.com/" title="Home"><img src="images/logo_footer.png" alt="Site5" title="Home" /></a><br /> 
							&copy; Copyright 1999-{{ 'now' | date: "%Y" }} Site5 LLC<br />
							All rights reserved.<br /> 
							<a href="http://www.site5.com/legal/">Legal</a>&nbsp; / &nbsp;<a href="http://www.site5.com/legal/privacy-policy/">Privacy Policy</a>

					 </div> 
				</div>

			<!-- END #innerFooter -->
			</div>
</div>
<!-- end #mainWrapper -->
</body>
</html>
