<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{page.title}}</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Century_Gothic_400-Century_Gothic_700.font.js"></script>
<script type="text/javascript">
		 Cufon.replace('h1', {textShadow: '#fff 1px 1px'})('h2',{textShadow: '#fff 1px 1px'})('h3')('#content h3', {textShadow: '#fff 1px 1px'})('#logo span',{textShadow: '#333 1px 1px'})('#topMenu ul li a',{hover:true});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5680195-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body id="{{page.home_css}}">
<!-- begin #mainWrapper -->
<div id="mainWrapper">
	<!-- begin #wrapper -->
	<div id="wrapper">
		<!-- begin #header -->
		<div id="header">
			<div id="logo">
				<a href="/"><img src="images/logo.png" alt="Home of Site5 Engineering Team" /></a><br />
				<span><a href="/">Home of the Site5 Engineering Team</a></span>
			</div>
			<div id="topIcons">
				<a href="http://github.com/site5" class="github">GitHub</a>
				<a href="http://twitter.com/eng5com" class="twitter">Twitter</a>
			</div>
			<div id="topMenu">
				<ul>
					<li><a href="about.html">About</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="team.html">Team</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<!-- begin #content-->
		<div id="content">
      {{ content }}
		</div>
		<!-- end #content -->
	</div>
	<!-- end #wrapper -->
	<div id="footer">
	<!-- BEGIN #innerFooter -->
				<div id="innerFooter">
					<div class="footer-links clearfix">
						<h3>Site5 Links</h3>
						<ul>
							<li><a href="http://www.site5.com/contact/">Contact Us</a></li>
							<li><a href="https://backstage.site5.com/">Client Login</a></li>
							<li><a href="http://www.site5.com/about/">About Site5</a></li>
							<li><a href="http://www.site5.com/affiliates/">Affiliate Program</a></li>
							<li><a href="http://www.site5.com/support/">Support</a></li>
							<li><a href="http://www.site5.com/specials">Site5 Coupons</a></li>
							<li><a href="http://www.site5.com/blog/">Our Blog</a></li>
							<li><a href="http://www.ratepoint.com/profile/15460">Site5 Reviews</a></li>
						</ul>
					</div>
					<div class="footer-services clearfix">
						<h3>Hosting Services</h3>
						<div>

							<span><a href="http://www.site5.com/hosting/">WEB HOSTING</a></span>
							<ul>
								<li><a href="http://www.site5.com/hosting/web/">Shared Hosting</a></li>
								<li><a href="http://www.site5.com/hosting/cloud/">Shared Cloud Hosting</a></li>
							</ul>
						</div>
						<div>

							<span><a href="http://www.site5.com/resellers/">RESELLER HOSTING</a></span>
							<ul>
								<li><a href="http://www.site5.com/resellers/web/">Reseller Hosting</a></li>
								<li><a href="http://www.site5.com/resellers/cloud/">Reseller Cloud Hosting</a></li>
							</ul>
						</div>
						<div>

							<span><a href="http://www.site5.com/vps/">VIRTUAL SERVERS</a></span>
							<ul>
								<li><a href="http://www.site5.com/vps/normal/">VPS</a></li>
								<li><a href="http://www.site5.com/cloud/vps/">Cloud VPS</a></li>
							</ul>
            </div>
					</div>

					 <div class="footer-copyright"> 
							<a href="http://www.site5.com/" title="Home"><img src="images/logo_footer.png" alt="Site5" title="Home" /></a><br /> 
							&copy; Copyright 1999-{{ 'now' | date: "%Y" }} Site5 LLC<br />
							All rights reserved.<br /> 
							<a href="http://www.site5.com/legal/">Legal</a>&nbsp; / &nbsp;<a href="http://www.site5.com/legal/privacy-policy/">Privacy Policy</a>
					 </div> 

					  <div class="footer-hosting clearfix" style="font-size:11px;"> 
						<h3>Types of Hosting</h3> 
							<ul> 
							<li><a href="http://www.site5.com/p/blog-web-hosting/">Blog Hosting</a></li> 
							<li><a href="http://www.site5.com/p/cms-web-hosting/">CMS Hosting</a></li> 
							<li><a href="http://www.site5.com/p/ecommerce-web-hosting/">E-Commerce Hosting</a></li> 
							<li><a href="http://www.site5.com/p/forum-hosting/">Forum Hosting</a></li> 
							<li><a href="http://www.site5.com/p/image-gallery-hosting/">Image Gallery Hosting</a></li> 
							<li><a href="http://www.site5.com/p/shopping-cart-hosting/">Shopping Cart Hosting</a></li> 
							<li><a href="http://www.site5.com/p/wiki-hosting/">Wiki Hosting</a></li> 
							</ul> 
					</div> 
					
					<div class="footer-services clearfix" style="font-size:11px;"> 
						<h3>Locations We Offer Hosting</h3> 
						<div> 
							<span><a href="http://www.site5.com/p/usa-web-hosting/">USA WEB HOSTING</a></span> 
							<ul> 
								<li><a href="http://www.site5.com/p/texas-web-hosting/">Texas Web Hosting</a> - <a href="http://www.site5.com/p/dallas-texas-web-hosting/">Dallas</li> 
								<li><a href="http://www.site5.com/p/illinois-web-hosting/">Illinois Web Hosting</a> - <a href="http://www.site5.com/p/chicago-illinois-web-hosting/">Chicago</a></li> 
								<li><a href="http://www.site5.com/p/new-york-web-hosting/">New York Web Hosting</a> - <a href="http://www.site5.com/p/new-york-city-web-hosting/">New York</a></li> 
								<li><a href="http://www.site5.com/p/dc-web-hosting/">DC Web Hosting</a> - <a href="http://www.site5.com/p/washington-dc-web-hosting/">Washington DC</a></li> 
								<li><a href="http://www.site5.com/p/washington-web-hosting/">Washington Web Hosting</a> - <a href="http://www.site5.com/p/seattle-washington-web-hosting/">Seattle</a></li> 
								<li><a href="http://www.site5.com/p/california-web-hosting/">California Web Hosting</a> - <a href="http://www.site5.com/p/los-angeles-california-web-hosting/">Los Angeles</a></li> 
							</ul> 
						</div> 
						<div> 
							<span><a href="http://www.site5.com/p/canadian-web-hosting/">CANADIAN WEB HOSTING</a></span> 
							<ul> 
								<li><a href="http://www.site5.com/p/montreal-canada-web-hosting/">Montreal</a> &amp; <a href="http://www.site5.com/p/toronto-canada-web-hosting/">Toronto</a></li> 
							</ul> 
						</div> 
						<div> 
							<span><a href="http://www.site5.com/p/uk-web-hosting/">UK WEB HOSTING</a></span> 
							<ul> 
								<li><a href="http://www.site5.com/p/london-england-web-hosting/">London</a></li> 
							</ul> 
						</div> 
						<div> 
							<span><a href="http://www.site5.com/p/european-web-hosting/">EUROPEAN WEB HOSTING</a></span> 
							<ul> 
								<li><a href="http://www.site5.com/p/netherlands-web-hosting/">Netherlands Web Hosting</a> - <a href="http://www.site5.com/p/amsterdam-netherlands-web-hosting/">Amsterdam </a></li> 
							</ul> 
						</div> 
						<div> 
							<span><a href="http://www.site5.com/p/australian-web-hosting/">AUSTRALIAN WEB HOSTING</a></span> 
							<ul> 
								<li><a href="http://www.site5.com/p/sydney-australia-web-hosting/">Sydney</a></li> 
							</ul> 
						</div> 
					</div> 
					 <div class="footer-copyright" style="text-align:left; font-size:11px;"> 
							<h3>Popular Scripts</h3> 
							<ul> 
								<li><a href="http://www.site5.com/p/wordpress/">WordPress Web Hosting</a></li> 
								<li><a href="http://www.site5.com/p/joomla/">Joomla Web Hosting</a></li> 
								<li><a href="http://www.site5.com/p/drupal/">Drupal Web Hosting</a></li> 
								<li><a href="http://www.site5.com/p/modx/">ModX Web Hosting</a></li> 
								<li><a href="http://www.site5.com/p/magento/">Magento Web Hosting</a></li> 
								<li><a href="http://www.site5.com/p/moodle/">Moodle Web Hosting </a></li> 
								<li><a href="http://www.site5.com/p/vbulletin/">vBulletin Web Hosting</a></li> 
							</ul> 
				
					  </div> 
					</div>

			<!-- END #innerFooter -->
			</div>
</div>
<!-- end #mainWrapper -->
</body>
</html>
